.main {
    padding: 12rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary, 0.9),
        rgba($color-primary-dark, 0.9));
        -webkit-clip-path: polygon(20% 20%, 80% 20%, 100% 0, 100% 100%, 70% 100%, 30% 100%, 0 100%, 0 0);
        clip-path: polygon(20% 20%, 80% 20%, 100% 0, 100% 100%, 70% 100%, 30% 100%, 0 100%, 0 0);
    
        @include respond(tab-port) {
            padding: 10rem 0rem;
            height: 100%;
            -webkit-clip-path: polygon(100% 0%, 100% 0%, 100% 0, 100% 100%, 100% 100%, 100% 100%, 0 100%, 0 0);
             clip-path: polygon(100% 0%, 100% 0%, 100% 0, 100% 100%, 100% 100%, 100% 100%, 0 100%, 0 0);
         }
}

.section-work {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary, 0.7),
        rgba($color-primary-dark, 0.7)),
    url(../img/header-3.jpg);
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 50% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 50% 90%, 0 100%);
    background-size: cover;
    background-position: top;
    position: relative;
    padding: 12rem 0;

    @include respond(tab-land) {
        height: 100%;
        -webkit-clip-path: polygon(100% 0%, 100% 0%, 100% 0, 100% 100%, 100% 100%, 100% 100%, 0 100%, 0 0);
        clip-path: polygon(100% 0%, 100% 0%, 100% 0, 100% 100%, 100% 100%, 100% 100%, 0 100%, 0 0);
    }
}

.section-booking {
    padding: 10rem 0;
    margin-top: -10rem;
}

.section-team {
    height: 100%;
    padding: 12rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary, 0.7),
        rgba($color-primary-dark, 0.7)),
    url(../img/team-3.jpg);
    -webkit-clip-path: polygon(50% 0%, 100% 12%, 100% 100%, 0 100%, 0 12%);
    clip-path: polygon(50% 0%, 100% 12%, 100% 100%, 0 100%, 0 12%);
    background-size: cover;
    background-position: top;
    position: relative;

    @include respond(tab-land) {
        height: 100%;
        -webkit-clip-path: polygon(100% 0%, 100% 0%, 100% 0, 100% 100%, 100% 100%, 100% 100%, 0 100%, 0 0);
        clip-path: polygon(100% 0%, 100% 0%, 100% 0, 100% 100%, 100% 100%, 100% 100%, 0 100%, 0 0);
    }
}

.section-gallery {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary, 0.2),
        rgba($color-primary-dark, 0.2));
}
// .section-about-us {
//     padding: 10rem 0;
//     background-image: linear-gradient(
//         to right bottom,
//         rgba($color-primary-light, 0.8),
//         rgba($color-primary-dark, 0.8));
//     transform: skewY(-7deg);
//     margin-top: 2rem;

//     @include respond(tab-land) {
//     transform: skewY(0deg);
//     }

    
//     & > * {
//         transform: skewY(7deg);

//         @include respond(tab-land) {
//         transform: skewY(0deg);
//         }
//     }

// }
// .section-our-team {
//     padding: 10rem 0;
//     background-image: linear-gradient(
//         to right bottom,
//         rgba($color-primary-light, 0.8),
//         rgba($color-primary-dark, 0.8));
//     margin-top: 0rem;
// }
